name: Docker Image CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: List files to verify Dockerfile exists
      run: |
        ls -al
        if [ ! -f Dockerfile ]; then
          echo "❌ Dockerfile not found!"
          exit 1
        fi

    # 작업 디렉토리 이동 (requirements.txt가 있는 디렉토리로)
    - name: Change directory to my-django-app
      run: cd my-django-app

    - name: Build and tag the Docker image
      run: |
        timestamp=$(date +%s)
        docker build ./my-django-app -t my-django-app:$timestamp
        docker tag my-django-app:$timestamp my-dockerhub-username/my-django-app:latest
        docker tag my-django-app:$timestamp my-dockerhub-username/my-django-app:$timestamp

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push the Docker image to Docker Hub
      run: |
        docker push my-dockerhub-username/my-django-app:latest
        docker push my-dockerhub-username/my-django-app:$timestamp
